<div class="page-header">
  <h1> <%= @application.name %></h1>
</div>
<% @application.components.each do |comp| %>
  <p> <%= comp.name %> <p>
<% end %>

<%= link_to "Create Component", [:new, @application, :component] , id: "createCompBtn"%>
