<div class="page-header">
  <%= link_to components_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h3>New component for <%= @application.name %></h3>
</div>

<%= render 'form' %>
