<div class="page-header">
  <h1> <%= @app2.name %></h1>
</div>
<% @app2.components.each do |comp| %>
  <p> <%= comp.name %> <p>
<% end %>

<a id="createCompBtn" href="/newComp/<%= @app2.id %>">Create Component</a>
